<div class="container mt-5">
  <h2>Tipos de proyectos</h2>
  <ul class="list-group">
    <% @kinds.each do |kind| %>
      <li class="list-group-item">
        <%= link_to kind.name, kind_path(kind) %>
      </li>
    <% end %>
  </ul>
</div>