<section id="intro">
  <%#= video_tag 'intro.mp4', autoplay: true, id: 'intro-video' %>
  <%= video_tag 'LOGO_ALDO_FRANCO.mp4', autoplay: true, id: 'intro-video' %>
  <%#= image_tag 'ALDO_FRANCO_LOGO_2.gif', id: 'intro-video' %>
  <h5 id="click-here">click aqui</h5>
  <%= image_tag 'icons/FLECHA.png', id: 'click-icon', class: 'animated infinite bounce' %>
</section>