<section id="intro">
  <%= video_tag 'intro.mp4', autoplay: true, id: 'intro-video' %>
  <h5 id="click-here">click aqui</h5>
  <%= image_tag 'icons/scroll.svg', id: 'click-icon', class: 'animated infinite bounce' %>
</section>