
<%= render partial: 'layouts/navbar' %>

<section id="logo-about">
  <%= image_tag 'logo-white.svg', id: 'mega-logo' %>
</section>

<section id="about-description">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 id="about-description-title">team</h2>
      </div>
    </div>

    <div class="row">
      <div class="col line"></div>
    </div>

    <div class="row">
      <div class="col">
        <p id="about-description-text">
          We are a group of architects specialized in designing and buliding projects with beautiful and functional spaces.
        </p>
      </div>
    </div>
  </div>
</section>

<section id="aldo">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-4 offset-lg-2">
        <%= image_tag 'static_pages/about/aldofranco.jpg', class: 'img-fluid w-100' %>
      </div>
      <div class="col-lg-5">
        <p id="aldo-description">
          Aldo Franco graduated from the Anahuac University School of Architecture in 2010. He was born in Mexico
          City in 1987. He started working in architecture since 2006 for different firms such as Artigas Arquitectos, FH
          Arquitectura, Arquifacto and Cemex. He founded Aldo Franco Arquitectos in 2011.
        </p>
      </div>
    </div>
  </div>
</section>

<section id="team">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 id="team-title">collaborators</h2>
      </div>
    </div>

    <div class="row">
      <div class="col line"></div>
    </div>

    <div class="row">
      <div class="col">
        <p id="team-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse iaculis vestibulum mauris sit amet tristique. Sed congue ultrices nulla at laoreet. Ut id nunc dolor. Ut elementum metus vel augue luctus sollicitudin. Ut dignissim tortor eu pretium pharetra. Duis sed sapien sit amet libero condimentum sollicitudin. Vivamus non sollicitudin lorem.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col arch-col">
        <p class="arch-name">arq. miguel ángel martínez</p>
        <p class="arch-title">senior architect</p>
      </div>
    </div>

    <div class="row">
      <div class="col arch-col">
        <p class="arch-name">arq. juan ponce de león</p>
        <p class="arch-title">senior architect</p>
      </div>
    </div>

    <div class="row">
      <div class="col arch-col">
        <p class="arch-name">arq. nayeli espetia</p>
        <p class="arch-title">junior architect - interior designer</p>
      </div>
    </div>

    <div class="row">
      <div class="col arch-col">
        <p class="arch-name">arq. bryan moreno</p>
        <p class="arch-title">junior architect</p>
      </div>
    </div>

    <div class="row">
      <div class="col arch-col">
        <p class="arch-name">ing. césar marín</p>
        <p class="arch-title">structural engineer</p>
      </div>
    </div>

    <div class="row">
      <div class="col arch-col">
        <p class="arch-name">joel barroso</p>
        <p class="arch-title">acountant</p>
      </div>
    </div>
  </div>
</section>

<%= render partial: 'layouts/contact' %>