
<%= render partial: 'layouts/navbar' %>

<section id="logo-about">
  <%= image_tag 'icons/logoblanco.svg', id: 'mega-logo' %>
</section>

<section id="about-description">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 id="about-description-title">team</h2>
      </div>
    </div>

    <div class="row">
      <div class="col line"></div>
    </div>

    <div class="row">
      <div class="col-10 col-sm-12 mx-auto">
        <p id="about-description-text">
          We are a group of architects specialized in designing and building projects with beautiful and functional spaces
          where the good design is implicit always.
          We design sustainable spaces in which we take care of every single detail.
          We believe that architecture is one of the few profesions that directly improve the quality of life of people.
          Our office works always with passion and respect for the client, the nature, the materials and the design. We are
          constantly looking for new materials designing spaces or things that have never been made integrating all the
          arts in our architecture and in its atmosphere.
          Each project is made based on a research process in which we put the maximum attention to each corner,
          each color, each material, each finish, each entry of light, always focusing in design excellence and integrity,
          this is what we are most passionate about
        </p>
      </div>
    </div>
  </div>
</section>

<section id="aldo">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5 offset-lg-1">
        <%= image_tag 'static_pages/about/aldofranco.jpg', class: 'img-fluid w-100' %>
      </div>
      <div class="col-10 mx-auto col-lg-5">
        <h2 id="aldo-franco-name" class="mt-5 mt-lg-0">arq. aldo franco</h2>
        <p id="aldo-description" class="text-justify">
          Aldo Franco graduated from the Anahuac University School of Architecture in 2010. He was born in Mexico
          City in 1987. He started working in architecture since 2006 for different firms such as Humberto Artigas Arquitectos, FH
          Arquitectura, Arquifacto and Cemex. He founded Aldo Franco Arquitectos in 2011.
        </p>
      </div>
    </div>
  </div>
</section>

<section id="team">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 id="team-title" class="text-uppercase" style="padding-top: 10%;">collaborators</h2>
      </div>
    </div>

    <div class="row">
      <div class="col line"></div>
    </div>

    <div class="row">
      <div class="col">
      </div>
    </div>

    <div class="row" style="padding-top: 5%;">
      <div class="col arch-col">
        <p class="arch-name">Arq. Carlos Valenzuela</p>
        <p class="arch-title">senior architect</p>
      </div>
    </div>

    <div class="row" >
      <div class="col arch-col">
        <p class="arch-name">arq. martin de la rosa</p>
        <p class="arch-title">senior architect</p>
      </div>
    </div>

    <div class="row" >
      <div class="col arch-col">
        <p class="arch-name">arq. miguel ángel martínez</p>
        <p class="arch-title">senior architect</p>
      </div>
    </div>

    <div class="row">
      <div class="col arch-col">
        <p class="arch-name">arq. juan ponce de león</p>
        <p class="arch-title">senior architect</p>
      </div>
    </div>

    <div class="row">
      <div class="col arch-col">
        <p class="arch-name">Arq. eduardo reyes</p>
        <p class="arch-title">senior architect</p>
      </div>
    </div>

    <div class="row">
      <div class="col arch-col">
        <p class="arch-name">Arq. Joel Lara Meixueiro</p>
        <p class="arch-title">Project Manager</p>
      </div>
    </div>

    <div class="row">
      <div class="col arch-col">
        <p class="arch-name">arq. nayeli espetia</p>
        <p class="arch-title">junior architect - interior designer</p>
      </div>
    </div>

    <div class="row">
      <div class="col arch-col">
        <p class="arch-name">Arq. Yennifer Gonzalez</p>
        <p class="arch-title">interior designer</p>
      </div>
    </div>

    <div class="row">
      <div class="col arch-col">
        <p class="arch-name">arq. bryan moreno</p>
        <p class="arch-title">junior architect</p>
      </div>
    </div>

   <%#  <div class="row">
      <div class="col arch-col">
        <p class="arch-name">Arq Gabriel Porras</p>
        <p class="arch-title">junior architect</p>
      </div>
    </div> %>

    <div class="row">
      <div class="col arch-col">
        <p class="arch-name">ing. césar marín</p>
        <p class="arch-title">structural engineer</p>
      </div>
    </div>

    <div class="row">
      <div class="col arch-col">
        <p class="arch-name">joel barroso</p>
        <p class="arch-title" style="padding-bottom: 5%;">acountant</p>
      </div>
    </div>
  </div>
</section>

<%= render partial: 'layouts/contact' %>