<section id="banner">
  <div class="banner-slider">
    <div class="item-container">
      <%= image_tag 'static_pages/home/slide1.jpg', class: 'w-100 img-fluid' %>
      <h3 class="item-title">canelos</h3>
    </div>
    <div class="item-container">
      <%= image_tag 'static_pages/home/slide1.jpg', class: 'w-100 img-fluid' %>
      <h3 class="item-title">canelos</h3>
    </div>
  </div>

  <%= image_tag 'static_pages/home/left_arrow.svg', id: 'left-arrow', class: 'slider-arrows' %>
  <%= image_tag 'static_pages/home/right_arrow.svg', id: 'right-arrow', class: 'slider-arrows' %>

  <div id="dots-container">
    <ul id="dot-list">
    </ul>
  </div>
  
</section>