<%= render partial: 'layouts/navbar' %>

<section id="proyects-description">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 id="all-proyects-title">all proyects</h2>
      </div>
    </div>

    <div class="row">
      
    </div>

    <div class="row">
      <div class="col-9 mx-auto">
        <p id="all-proyects-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vel magna at massa imperdiet tristique. Morbi porttitor enim ut risus aliquet, ut mattis dui ultricies. Integer ut varius sem. Sed imperdiet vel nulla volutpat volutpat. Aliquam condimentum venenatis lorem vitae vulputate. Quisque nec arcu scelerisque, malesuada lectus et, aliquet lectus. Fusce rhoncus lobortis diam. Aenean pulvinar aliquet tempor. Ut eu lobortis ante. Mauris blandit a lacus a placerat. In tellus erat, auctor at diam eu, sollicitudin imperdiet arcu. Cras lorem risus, pulvinar nec nibh nec, aliquet condimentum lacus. Pellentesque sodales egestas luctus. Aenean maximus volutpat feugiat. Sed convallis dictum ligula ut laoreet. Pellentesque eget diam in ante cursus convallis.
        </p>
      </div>
    </div>
  </div>
</section>
