
$gray: #1A1A1A;
$text-gray: #666666;
$green: #00FF00;
$blue: #3B5D8D;

@font-face {
  font-family: Gotham-Medium;
  src: asset-url("Gotham-Medium.otf") format("opentype");
}

@font-face {
  font-family: Gotham-Thin;
  src: asset-url("Gotham-Thin.otf") format("opentype");
}

@font-face {
  font-family: Futura;
  src: asset-url("Futura-Light-Regular.otf") format("opentype");
}

$got-med: Gotham-Medium;
$got-thi: Gotham-Thin;
$futura: Futura;

@import "bootstrap";
@import 'slick';
@import "static_pages";
@import "proyects";