
#projects-description{
  background-color: $gray;
  padding-top: 8%;
  padding-bottom: 4%;

  #all-projects-title{
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-family: $futura;
  }

  #all-projects-description{
    color: white;
    text-align: center;
    font-family: $got-thi;
  }

  .vertical-line{
    position: relative;
    margin-top: 3%;
    margin-bottom: 5%;

    &:before{
      content: "";
      position: absolute;
      margin: auto;
      height: 30px;
      width: 1px;
      background-color: white;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
  }
}


#kinds{
  background-color: $gray;
  
  .kinds-titles{
    color: $text-gray;
    text-transform: uppercase;
    margin-bottom: 20%;
    font-size: 1.2rem;
    position: relative;
    cursor: pointer;
    font-family: $got-thi;

    &.active:after{
      content: "";
      position: absolute;
      width: 100%;
      bottom: -10px;
      left: 0;
      right: 0;
      margin: 0 auto;
      height: 3px;
      border: thin solid $green;
    }
  }
}



#main-slider{
  width: 100%;
  height: auto;
  position: relative;
  background-color: $gray;

  .bx-viewport{
    background-color: $gray;
  }

  #slider-text{
    width: 100%;
    position: absolute;
    bottom: 0;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
    z-index: 20;
    padding-left: 3%;
    font-family: $got-thi;

    p, h1{
      color: white;
    }
  }

  #slider-description{
    margin-bottom: 5%;
  }

  .bx-wrapper{
    border: 0;
    box-shadow: none;
  }

  .slider-img{
    width: 100% !important;
    height: auto !important;
  }
}

#similar-projects{
  background-color: $gray;
  padding: 2% 0;

  #similar-projects-title{
    color: white;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 3%;
    font-size: 1rem;
    font-family: $got-thi;
    font-size: 1.3rem;
  }
}
.build-text{
  display: none;
  position: absolute;
  top: 45%;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: fit-content;
  color: white;
  padding: 10px;
  border-bottom: 2px solid;
}

#building-name, #slider-kind{
  text-transform: uppercase;
}
#categories-background{
  transition: all 0.2s linear;
}
#main-slider-2{
  position: fixed;
  z-index: 13;
  overflow:hidden;
  -webkit-overflow-scrolling:touch;
  // display: none;
  #icon-close{
    position: absolute;
    z-index: 13;
    top:5%;
    right: 5%;
    max-width: 20px;
    cursor: pointer;
  }
}
#main-slider{
  z-index: 1;
}
#transparent-navbar{
  z-index: 2;
}
@include media-breakpoint-up(xs){
  #back-to-all{
    margin: 0 auto;
    padding: 5px 10px;
    margin-top: 15px;
  }
}
@include media-breakpoint-only(xs){
  #main-slider-2 {
    position: fixed;
    z-index: 13;
    height: 105vh;
    background-color: black;
    padding-top: 5%;
    width: 100%;
    margin-top:-20%;
    .bx-wrapper {
      border: 5px solid black!important;
      box-shadow: none;
      background: black;
    }
  }
}


@include media-breakpoint-up(md){
  .img-build{
    &:hover{
      opacity: 0.6;
      transition: all 0.3s ease;
      .build-text{
        opacity: 1;
        display: flex;
        text-transform: uppercase;
      }
    } 
  }  
}

@include media-breakpoint-down(md){
  #transparent-navbar{
    background-color: white;
    position: static !important;

    #logo-navbar{
      content: image-url('logo-black.svg');
    }

    .nav-link{
      color: $text-gray !important;
    }

    .nav-item{
      border-bottom: thin solid $text-gray;
    }
  }
}