
nav{
  background-color: white;

  .navbar-brand{
    margin-right: 0;
    margin-left: 4rem;
  }

  #logo-navbar{
    width: 200px;
    height: auto;
  }

  .nav-item{
    border-bottom: thin solid $text-gray;
    position: relative;
    padding: 0 15px;
  }

  .nav-link{
    color: $text-gray !important;
    font-family: $futura;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9rem;

    &:hover:before{
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      border-bottom: 2px solid $green;
    }
  }

  #nav-social{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-bottom: 0;
    margin-right: 5%;
    margin-left: 5%;

    img{
      width: 15px;
      height: auto;
      max-width: 15px;
      max-height: 15px;
      margin: 0 10px;
    }
  }
}

#banner{
  width: 100%;
  height: fit-content;
  position: relative;

  .banner-slider div{
    height: auto;
  }

  .item-container{
    position: relative;

    .item-title{
      position: absolute;
      text-align: center;
      left: 0;
      right: 0;
      bottom: 22%;
      color: white;
      text-transform: uppercase;
      font-family: $futura;
      font-size: 2rem;
      letter-spacing: 10px;
    }
  }
  
  .slider-arrows{
    position: absolute;
    top: 45%;
    width: 20px;
    height: auto;
  }

  #left-arrow{
    left: 10%;
  }

  #right-arrow{
    right: 10%;
  }

  #dots-container{
    position: absolute;
    bottom: 20%;
    left: 0;
    right: 0;

    &>ul{
      list-style: none;
      display: flex;
      padding: 0;
      margin: 0 auto;
      width: fit-content;
    }

    .dot{
      width: 9px;
      height: 9px;
      border: 1px solid white;
      border-radius: 50%;
      margin: 10px;

      &.active{
        background-color: $green;
        border: 1px solid $green;
      }
    }
  }
}

#abount-us{
  background-color: $gray;
  margin-top: -10px;

  .abount-us-title{
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-family: $got-thi;

    &>span{
      // font-weight: bold;
      font-family: $got-med;
    }
  }
}

#work{
  background-color: $gray;

  #work-title{
    text-align: center;
    color: white;
    font-family: $futura;
    text-transform: uppercase;
    font-size: 2.5rem;
  }

  #vertical-line{
    width: 1px;
    border-right: 1px solid white;
    height: 25px;
    margin: 5px auto;
  }

  #work-description{
    color: white;
    text-align: center;
    margin: 4% auto;
    color: $text-gray;
    font-size: 1.2rem;

    &>span{
      font-weight: bold;
    }
  }

  #all-proyects{
    background-color: white;
    padding: 20px 25px;
    text-transform: uppercase;
    margin: 2% auto;
    width: fit-content;
    display: block;
    color: black;
    font-family: $futura;
  }

  #categories-background{
    background-image: image-url('static_pages/home/work_background.jpg');
    background-size: cover;
    background-position: center;
  }

  .category{
    border: thin solid white;

    h4{
      color: white;
      text-align: center;
      margin: 23% auto;
      font-family: $futura;
      font-size: 1.8rem;
    }
  }
}


#contact{
  background-color: $gray;
  padding-top: 5%;
  padding-bottom: 10%;

  .border-ri:after{
    content: "";
    position: absolute;
    right: 0;
    width: 1px;
    height: 70%;
    top: 0;
    bottom: 0;
    border-right: 1px solid white;
  }

  #contact-title{
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-family: $futura;
    font-size: 2.5rem;
    margin-bottom: 2%;
  }

  .contact-icons{
    width: 20px;
    height: auto;
    max-width: 20px;
    max-height: 20px;
    display: block;
    margin: 0 auto;
  }

  .contact-texts{
    font-family: $got-thi;
    margin-top: 1rem;
  }

  .contact-inputs{
    background-color: $gray;
    border: none;
    border-radius: 0;
    color: white;
    font-family: $got-thi;
  }

  .contact-comments{
    background-color: rgba(255, 255, 255, 0.02);
    border: none;
    border-radius: 0;
    resize: none;
    color: white;
    font-family: $got-thi;
    margin-top: 15px;
  }

  .border-bottom{
    border-bottom: thin solid white;
  }

  #send-button{
    background-color: transparent;
    border: none;
    padding: 0;
    float: right;
    margin-top: 15px;

    img{
      width: 40px;
      height: auto;
    }
  }
}
