
#banner{
  width: 100%;
  height: fit-content;
  position: relative;

  .banner-slider div{
    height: auto;
  }

  .item-container{
    position: relative;

    .item-title{
      position: absolute;
      text-align: center;
      left: 0;
      right: 0;
      bottom: 28%;
      color: white;
      text-transform: uppercase;
    }
  }
  
  .slider-arrows{
    position: absolute;
    top: 45%;
    width: 20px;
    height: auto;
  }

  #left-arrow{
    left: 10%;
  }

  #right-arrow{
    right: 10%;
  }

  #dots-container{
    position: absolute;
    bottom: 20%;
    left: 0;
    right: 0;

    &>ul{
      list-style: none;
      display: flex;
      padding: 0;
      margin: 0 auto;
      width: fit-content;
    }

    .dot{
      width: 9px;
      height: 9px;
      border: 1px solid white;
      border-radius: 50%;
      margin: 10px;

      &.active{
        background-color: $green;
        border: 1px solid $green;
      }
    }
  }
}

#abount-us{
  background-color: $gray;
  margin-top: -10px;

  .abount-us-title{
    color: white;
    text-align: center;
    text-transform: uppercase;

    &>span{
      font-weight: bold;
    }
  }
}

#work{
  background-color: $gray;

  #work-title{
    text-align: center;
    color: white;
  }

  #vertical-line{
    width: 1px;
    border-right: 1px solid white;
    height: 25px;
    margin: 5px auto;
  }

  #work-description{
    color: white;
    text-align: center;
    margin: 4% auto;

    &>span{
      font-weight: bold;
    }
  }

  #all-proyects{
    background-color: white;
    padding: 20px 25px;
    text-transform: uppercase;
    margin: 2% auto;
    width: fit-content;
    display: block;
    color: black;
  }

  #categories-background{
    background-image: image-url('static_pages/home/work_background.jpg');
    background-size: cover;
    background-position: center;
  }

  .category{
    border: thin solid white;

    h4{
      color: white;
      text-align: center;
      margin: 23% auto;
    }
  }
}