<section id="footer">
	<div class="container-fluid inherit">
		<div class="row align-items-center inherit">
			<div class="col-11 mx-auto">
				<div class="row align-items-center text-center text-footer">
					<div class="col-6 mx-auto col-sm-2">
						<%= image_tag "logo-white.svg", class: "img-fluid" %>
					</div>
					<div class="col-12 col-sm-2 text-center">
						<p>Zacatecas 98, Roma Norte, CDMX.</p>
					</div>
					<div class="col-12 col-sm-4">
						<p class="text-center">Todos los derechos reservados Aldo Franco</p>
					</div>
					<div class="col-12 d-none d-lg-block col-sm-4">
						<div class="row footer-menu ">
							<div class="col-2">
								<p>Home</p>
							</div>
							<div class="col-2">
								<p>About</p>
							</div>
							<div class="col-2">
								<p>Work</p>
							</div>
							<div class="col-2">
								<p>Jobs</p>
							</div>
							<div class="col-2">
								<p>Team</p>
							</div>
							<div class="col-2">
								<p>Contact</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>